* {
    margin: 0;
    padding: 0;
}
html{
    overflow-x:hidden;
}

header {
    text-align: center;
    margin: 2rem;
    color: #354463;
}


/* donor payment page */

.payment-page {
    background: url('./assets/donation/annie-spratt-427340-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.donor-information .hope-data {
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 2.3rem;
    font-family: "Flood std";
}

/* information of donor */


.information {
    background: #354463;
    color: white;
    margin: 2rem;
    padding: 2rem;
    font-family: Helvetica;
}

.donor-information .payment-info {
    font-size: 1.5em;
    text-align: center;
    font-family: Helvetica;
    padding-bottom: 1em;
}

.donate {
    display: grid;
    grid-template-columns: auto auto;
}

.information p {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.firstname,
.lastname,
.address,
.city-information,
.state-information,
.pincode-information,
.email-information {
    margin-bottom: 1rem;
}

.firstname {
    width: 80%;
    grid-column: 1/span 2;
}

.lastname {
    width: 100%;
    grid-column: 3/ span 4;
}

.address {
    width: 115%;
    grid-column: 1/span 4;
}

.city-information {
    width: 70%;
    grid-column: 1 / span 1;
    grid-row: 3 /span 1;
}

.state-information {
    width: 60%;
    grid-column: 2 / span 2;
    grid-row: 3 /span 2;
}

.pincode-information {
    width: 90%;
    grid-column: 3 / span 3;
    grid-row: 3 /span 3;
    padding-left: 2em;
}

.email-information {
    width: 115%;
    grid-column: 1/span 4;
    grid-row: 4/ span 4;
}

input {
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid #C1F7D5;
    background: #354463;
    width: 100%;
}



/* payment information */


.card-data,
.expiration {
    padding-bottom: 2em;
}

.expiration {
    display: grid;
    grid-template-columns: auto auto auto;
}

.expire-date {
    width:60%;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.expire-year {
    width: 50%;
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

.security-code {
    padding-left: 2em;
    width: 85%;
    grid-column: 3/span 3;
    grid-row: 1/span 3;
}

/* button information to submit */

.final-information p {
    font-size: 1.5rem;
}

.final-information button {
    width: 100%;
    text-align: center;
    padding: 0.8em;
    border-radius: 30px;
    border: none;
    background: #C1F7D5;
    margin-bottom: 2em;
}

.final-information a {
    color: #C1F7D5;
    background: #354463;
    border: none;
}


/* footer section */

footer {
    color: #354463;
}

footer .boxes {
    display: grid;
    grid-template-columns: auto auto;
}

.boxes li {
    list-style: none;
    text-decoration: underline;
}

.footer-box1,
.footer-box2,
.footer-box3,
.footer-box4 {
    width: 60%;
    padding: 0 2em 2em 2em;
}

.boxes h4 {
    padding-bottom: 0.5em;
}

.end {
    padding-bottom: 1em;
    grid-column: 2/ 3;
    font-size: 2rem;
    font-family: "Flood std";
}

/* responsive for tab */


@media (min-width: 451px) and (max-width:900px) {

    .final-information button {
        width: 50%;
        display: block;
        float: right;
    }

    .footer-box1,
    .footer-box2,
    .footer-box3,
    .footer-box4 {
        width: 50%;
    }
    .donor-information .payment-info{
        text-align: left;
    }

    footer .boxes {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .footer-box1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .footer-box2 {
        grid-column: 2/span 2;
        grid-row: 1/span 2;
    }

    .footer-box3 {
        margin-left: 4rem;
        grid-column: 3/span 3;
        grid-row: 1/span 1;
    }

    .footer-box4 {
        grid-column: 2/span 2;
        grid-row: 2/span 1;
    }

    .end {
        width: 40%;
        padding-left: 2em;
        font-size: 3em;
        grid-column: 3 /span 3;
        grid-row: 2/ span 3;
    }
}

/* responsive for desktop */



@media (min-width: 901px) {

    .information{
        width: 30%;
    }
    .final-information button {
        width: 50%;
        display: block;
        float: right;
    }
    .donor-information {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    .donor-information .payment-info{
        text-align: left;
    }

    .donor-information .hope-data {
        width:20%;
        font-size: 2.5rem;
        position: relative;
        right: 2rem;
    }
    footer{
        padding:3em;
    }

    footer .boxes {
        display: flex;
    }

    footer h4 {
        margin: auto auto 1rem auto;
        border-bottom: 1px solid #354463;
    }

    .boxes li {
        text-decoration: none;
    }

} 