* {
    margin: 0%;
    padding: 0%;
}


/* header section */
header {
    padding: 2em;
}

.main-heading {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0 3em;
}

.heading {
    color: #354463;
}

.menu a {
    text-decoration: none;
    color: gray;
}

.menu li {
    list-style: none;
}

#button {
    width: 180%;
    padding: 0.5em;
    font-size: 1em;
    background-color: #C1F7D5;
    border-radius: 5em;
    font-family: Helvetica;
    border-style: none;
    cursor: pointer;
}


/* first section */
.first1 {
    background-image: url("./assets/home/annie-spratt-135307-unsplash.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    color: #354463;
}

.first {
    padding: 2em;
}

.top-right {
    width: 20%;
    font-family: "Flood std";
    font-size: 2em;
    color: white;
}

.first-left {
    padding: 2em;
    background-color: white;
}

.first-top {
    width: 7em;
    background-color: #354463;
    color: white;
    text-align: center;
    padding: 1em;
    margin: -3.5em auto 2em auto;
}

.climate-data {
    font-family: Helvetica;
    font-size: 1.5em;
    text-align: center;
}

.read {
    width: 90%;
    font-size: 1.2em;
    text-decoration: underline;
    color: gray;
    text-align: center;
}

.action {
    width: 7em;
    padding: 1em;
    text-align: center;
    background-color: #354463;
    color: white;
    position: relative;
    margin: 2em auto -3.3em auto;
}

/* second section */
.second {
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #C1F7D5;
}

.learn,
.volunteer,
.share,
.donate {
    font-size: 1.2em;
    padding: 1em;
}

.second h4 {
    padding-bottom: 0.7em;
}

/* section third what we do */

.third {
    padding: 2em;
    background-color: #354463;
}

.matter {
    padding: 2em 0;
}

.what-we-do {
    background-color: white;
    width: 8em;
    padding: 1em;
    margin: 0 auto 1em auto;
    text-align: center;
}

.mission {
    color: white;
    font-family: Helvetica;
    font-size: 2em;
    text-align: center;
}

.articles {
    font-size: 1.2rem;
}

.articles h4,
.articles p {
    margin: auto auto 1em auto;
}

.articles #button {
    width: 7em;
}

.articles img {
    width: 100%;
    height: 13em;
    position: relative;
    margin: -4em auto 2em auto;
}

.article1,
.article2,
.article3 {
    text-align: center;
    padding: 2em;
    background-color: white;
    margin: 4em auto 2em;
}

/*  climate conditions section fourth */

.fourth {
    background-image: url("./assets/home/did-you-know-background@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    display: grid;
    grid-template-columns: auto;
}

.left {
    width: 6em;
    font-family: "Flood std";
    font-size: 2.5em;
    color: white;
}

.fourth1 #button {
    width: 10em;
    font-family: Helvetica;
}

.information {
    margin: 4em auto auto;
}

.known {
    padding: 2em;
    background-color: white;
    margin: 0 auto 2em auto;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1em;
}

.known1 h5 {
    width: 8em;
    padding: 1em;
    background-color: #354463;
    color: white;
    position: relative;
    bottom: 4em;
    margin: auto auto;
}

.known h3 {
    grid-column: 1 / 2;
    grid-row: 1/ span 1;
}

.known p {
    grid-column: 1 / 2;
    grid-row: 2/span 2;
    position: relative;
    top: 2em;
}

.known1 h3 {
    position: relative;
    top: -2em;
}


.image1 {
    background-color: #C1F7D5;
    width: 1.5em;
    height: 1.2em;
    text-align: center;
    border-radius: 2em;
    grid-column: 2 / span 2;
    grid-row: 1/2;
}

.image2 {
    background-color: #C1F7D5;
    width: 1.5em;
    height: 1.2em;
    border-radius: 2em;
    text-align: center;
    grid-column: 2/span 2;
    grid-row: 2/span 2;
}

.known1,
.known2,
.known3,
.known4 {
    width: 100%;
}

/* fifth sextion details about person */

.fifth {
    padding: 2em;
}

.story {
    margin: auto auto 2em;
}

.story h3 {
    width: 5em;
    text-align: center;
    padding: 1em;
    background-color: #354463;
    color: white;
    margin: auto;
    position: relative;
    bottom: -2em;
}

.fifth img {
    width: 100%;
}

.story1 {
    background-color: #354463;
    color: white;
    font-family: Helvetica;
    font-size: 1.3em;
    padding: 2em;
    text-align: center;
}

.story1 h6 {
    margin-top: 2em;
    color: gray;
}

.middle-button {
    padding: 2em;
    text-align: center;
}

.fifth #button {
    width: 8em;
}

/* section six save future */

.sixth {
    padding: 2em;
    background-color: #354463;
    text-align: center;
}

.sixth h2 {
    color: white;
    font-family: "Flood std";
    font-size: 3em;
}

.sixth h6 {
    background-color: white;
    font-size: 1em;
    width: 7em;
    padding: 1em;
    margin: auto;
    position: relative;
    top: 1.2em;
}

.image-event,
.image-news {
    margin: 2em auto;
}

.news h6 {
    width: 10em;
}

.sixth img {
    width: 100%;
}

.sixth #button {
    width: 7em;
}

.sixth h4 {
    font-family: Helvetica;
    color: white;
    font-size: 1.5em;
    margin: 2em auto;
}

.sixth p {
    color: white;
    margin: 2em auto;
}

/* section seventh subscribe channel */

.subscribe {
    padding: 2em;
    background-color: #C1F7D5;
}

.subscribe h4 {
    font-size: 1.5em;
    font-family: Helvetica;
    color: #354463;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#email {
    padding: 1em;
    border-radius: 2em;
    position: relative;
}

.subscribe1 #button {
    text-align: center;
    padding: 1em;
    width: 40%;
    background-color: #354463;
    color: white;
}

/* footer  */

footer {
    padding: 2em;
}

.footer-nav {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.2em;
    color: #354463;
    font-family: Helvetica;
}

.title {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
}

.contact {
    padding-left: 4em;
    grid-row: 1/span 1;
    grid-column: 2/span 2;
}

.links {
    width: 150%;
    grid-row: 2/span 2;
    grid-column: 1/span 1;
}

.follow {
    padding-left: 4em;
    grid-row: 2/span 2;
    grid-column: 2/span 2;
}

.footer-nav h5 {
    margin: auto auto 1em;
}

.links,
.follow {
    list-style: none;
}

.title,
.contact,
.links,
.follow {
    padding-bottom: 2em;
}

.end {
    width: 50%;
    font-family: "Flood std";
    grid-row: 3/span 3;
    grid-column: 2/span 2;
    text-align: end;
    font-size: 1.5em;
    margin: 3em auto auto auto;
}


/* responsive for tablet */

@media (min-width:451px) and (max-width:900px) {
    .menu {
        grid-column: 1/span 1;
        grid-row: 2/span 2;
        display: flex;
        margin-top: 2em;
    }

    .menu a {
        margin-right: 2em;
    }

    .main-heading #button {
        width: 100%;
        position: relative;
        bottom: -6rem;
    }

    /* first section */
    .top-right {
        margin-bottom: 2rem;
    }

    .first-top {
        margin-right: 30rem;
    }

    .climate-data {
        text-align: left;
        margin-bottom: 1em;
    }

    .read {
        text-align: left;
    }

    /* third section */

    .what-we-do {
        margin-right: 50rem;
    }

    .mission {
        text-align: left;
    }

    .article1,
    .article2,
    .article3 {
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
    }

    .articles img {
        width: 12rem;
        height: 10rem;
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }

    .articles #button {
        width: 10rem;
        height: 3rem;
        grid-row: 2/span 2;
        grid-column: 1/span 1;
    }

    .articles h4 {
        width: 50%;
        font-size: 1.5rem;
        color: #354463;
        margin: 0 1em 2em 1em;
    }

    .articles p {
        width: 50%;
        position: relative;
        top: -2rem;
    }

    /* fourth */

    .fourth {
        display: flex;
    }

    .fourth1 {
        width: 50%;
        margin-top: 3rem;
    }

    .left {
        margin-bottom: 1.5rem;
    }
    .information{
        width: 50%;
    }
    .information h4, .information p{
        width: 50%;
    }
    .image1, .image2{
        width: 50%;
    }

    /* fifth section */

    .story h3 {
        margin-left: 2em;
    }

    .fifth img {
        width: 80%;
    }

    .story1 {
        width: 50%;
        position: relative;
        left: 6rem;
        top: -4rem;
    }

    .middle-button {
        text-align: left;
        padding: 0;
        margin-top: -3em;
        margin-left: 7em
    }

    /* sixth section */
    .event {
        display: flex;
    }

    .event1 {
        width: 50%;
    }

    .event-data {
        text-align: left;
        padding: 2em;
        width: 50%;
    }

    .news {
        display: flex;
        flex-direction: row-reverse;
    }

    .news1 {
        width: 50%;
    }

    .news-data {
        text-align: left;
        padding: 2em;
        width: 50%;
    }

    .event h6 {
        margin-right: -11em;
    }

    .news h6 {
        margin-left: -15rem;
    }

    /* subscribe section */

    .subscribe h4 {
        width: 100%;
        margin-bottom: 1em;
    }

    #email {
        width: 63%;
    }

    .subscribe #button {
        width: 30%;
    }

    /* footer section */
    .title {
        font-size: 1.5em;
        width: 100%;
    }

    .follow {
        grid-column: 3/span 3;
        grid-row: 1/span 1;
    }

    .links {
        width: 100%;
        grid-column: 2/span 2;
        grid-row: 2/span 2;
        margin-left: 2em;
    }

    .end {
        grid-row: 2/span 2;
        grid-column: 3/span 3;
        margin-top: 1em;
        margin-left: 1em;
    }

    .contact {
        width: 30%;
        margin-left: -2em;
    }

}

/* responsive for dektop */

@media (min-width:901px) {
    header {
        padding: 5em;
    }

    .main-heading {
        display: flex;
        justify-content: space-around;
    }

    .menu {
        display: flex;
        align-items: center;
    }

    .menu a {
        position: relative;
        margin-right: 5em;
    }

    .main-heading #button {
        margin-top: 1em;
    }

    /* first section */
    .first {
        padding: 6em;
    }

    .first-top {
        margin-left: 1em;
    }

    .first1 {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .top-right {
        font-size: 5em;
        margin-right: 20%;
        float: right;
    }

    .first-left {
        width: 40%;
    }

    .action {
        position: relative;
        bottom: -6em;
    }

    .climate-data {
        text-align: left;
        font-size: 2.5em;
        margin-bottom: 2em;
    }

    /* second section */

    .second {
        display: flex;
        padding: 4em;
    }

    /* third section */

    .third {
        padding: 2em;
    }

    .what-we-do {
        margin-left: 6%;
    }

    .mission {
        margin-left: 6%;
        width: 80%;
        text-align: left;
    }

    .articles {
        display: flex;
    }

    .article1,
    .article2,
    .article3 {
        font-size: 0.8em;
        width: 15%;
        text-align: left;
    }

    .articles img {
        width: 140%;
    }

    /* fourth */
    .fourth {
        padding: 3%;
        display: flex;
    }

    .fourth1 {
        padding-left: 2em;
        margin-top: 7%;
        font-size: 150%;
    }

    .information {
        font-size: 120%;
    }

    /* fifth section */

    .fifth {
        display: flex;
        flex-direction: row-reverse;
    }

    .story h3 {
        margin-left: 2em;
    }

    .fifth img {
        width: 100%;
    }

    .person-story {

        width: 40%;
        margin-top: 15%;
        margin-left: 10%;
    }

    .story1 {
        position: relative;
        left: 20%;
        text-align: left;
    }

    /* sixth section */
    .sixth {
        display: flex;
        flex-direction: column;
    }

    .event {
        display: flex;
        justify-content: space-evenly;
    }

    .event1,
    .news1 {
        width: 30%;
    }

    .event-data {
        text-align: left;
        width: 30%;
        font-size: 120%;
        position: relative;
        top: 5em;
    }

    .news {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .news-data {
        text-align: left;
        width: 30%;
        font-size: 120%;
        position: relative;
        top: 5em;
    }

    .event1 h6 {
        margin-right: -75%;
    }

    .news1 h6 {
        margin-left: -145%;
    }


    /* subscribe section */

    .subscribe1{
        padding: 2%;
        display: flex;
        justify-content: space-evenly;
    }
    #email{
        width:40%;
        font-size: 120%;
    }
    .form{
        display: flex;
        justify-content: space-evenly;
    }

    /* footer */
    footer{
        padding: 5%;
        display: flex;
    }

    .footer-nav{
        display: flex;
    }
    .contact, .follow, .links, .end{
        width: 20%;
    }
    .contact{
        position: relative;
        left:5%;
    }
    .title{
        width: 15%;
        font-size: 170%;
    }
    .links{
        position: relative;
        left: 10%;
    }
    .end{
        width: 11%;
        font-size: 2em;
        margin: 0;
    }

}